@model AutoInsurance.Web.Models.ProposalViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choose your car</h2>
@using(Html.BeginForm("Index","Proposal"))
{
    @Html.HiddenFor(i => i.FirstName)
    @Html.HiddenFor(i => i.LastName)
<table class="table">
    <tr>
        <th></th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Year</th>
        <th>Photo</th>
    </tr>
    @foreach (var item in Model.Cars)
    {
        <tr>
            <td>@Html.RadioButtonFor(i=>i.CarId,item.Id)</td>
            <td>@item.Manufacturer</td>
            <td>@item.Model</td>
            <td>@item.Year</td>
            <td><img src="@item.Photo" width="100px"/></td>
        </tr>
    }
</table>

<button class="btn">Next</button>
}