@model AutoInsurance.Web.Models.ProposalViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Proposal Review</h2>

@using(Html.BeginForm("Save","Proposal"))
{
   
     @Html.HiddenFor(i => i.FirstName)
    @Html.HiddenFor(i => i.LastName)
    @Html.HiddenFor(i => i.Age) 
    @Html.HiddenFor(i => i.CarId)    
        <h3>@Model.FirstName @Model.LastName</h3>
    <br />

    <p>Proposal Value: </p>
    <h3>@Model.Value.ToString("C3")</h3>
    <br />

    <button class="btn">Save</button>
}